<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NAntRunner.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NAntRunner.Settings>
            <setting name="NANT_COMMAND" serializeAs="String">
                <value>C:\Program Files (x86)\NAnt 0.92\bin\NAnt</value>
            </setting>
            <setting name="NANT_PARAMS" serializeAs="String">
                <value>-buildfile:"{0}" {1}</value>
            </setting>
            <setting name="NANT_SPLIT_TARGETS" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NANT_VERBOSE" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NANT_CLEAR_OUTPUT" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NANT_AUTOLOAD" serializeAs="String">
                <value>True</value>
            </setting>
        </NAntRunner.Settings>
    </userSettings>
</configuration>